[submodule "external/unbound"]
        path = external/unbound
        url = https://github.com/BlackPeter13/unbound.git
        branch = monero
[submodule "external/miniupnp"]
        path = external/miniupnp
        url = https://github.com/BlackPeter13/miniupnp.git
        branch = monero
[submodule "external/rapidjson"]
        path = external/rapidjson
        url = https://github.com/BlackPeter13/rapidjson.git
